/* Global Settings */
:root {
    --main-color: #5d63da;
    --secondary-color: #1f4272;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 50px;
    #logo {
        font-family: "Caveat", cursive;
        font-size: 30px;
        font-weight: bold;
        color: var(--main-color);
    }
    nav {
        ul {
            display: flex;
            gap: 15px;
            li {
                a {
                    color: #000;
                    font-size: 13px;
                }
                .start-btn {
                    background-color: var(--main-color);
                    color: #fff;
                    padding: 10px 12px;
                    border-radius: 25px;
                }
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.landing {
    width: 100vw;
    height: calc(100vh - 70px);
    overflow: hidden;
    .image {
        background-image: url("/images/landing.jpeg");
        background-size: cover;
        background-position: center;
        height: 80%;
    }
    .content {
        width: 80%;
        padding: 30px 0;
        margin: 0 auto;
        text-align: center;
        h1 {
            color: var(--secondary-color);
        }
        p {
            font-size: 15px;
        }
    }
}
